<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/home1.css?q=1280549780"/>
    <title>ADA MINI PROJECT</title>

</head>
<body">
<center>
    <h1><u>OPTIMAL PATH TRACKER</u></h1>
    
<br>
<form method="post" action="/">
<input type="number" min="0" max="8" placeholder="   Enter Current Location" name="username" class="tb5" required><br><br>
<input type="number" min="0" max="8" placeholder="   Enter Destination"  name="age1" class="tb5" required><br><br>
<input type="submit" class="cm"><br><input type="reset" class="cm" name="re">
</form>
    <br>
    <br>
    <h1>You are just : <i>{{loc1}}</i> Km away from your destination.</h1>
    <br><br><br><h2>MAP: <h2><img src="static/k1.png" width="700px" height="325 px">
</center>
</body>
</html>